h1, .container {
    font-weight: normal;
    color: black;
    font-family: monospace;
  }

h2, .container {
  font-weight: normal;
  color: black;
  font-family: monospace;
}
  
.container {
  text-align: center;
}